p {
    font-family: 'Nunito';
}
/* Container for the sidebar and content */
.dashboard-page {
    display: flex; /* Use flexbox for layout */
    height: 100vh; /* Full viewport height */
}

.sidebar {
    width: 250px;
    background-color: #ffccaa; /* Slightly darker peach */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-item:hover {
    background-color: #98c1ff; /* New hover color */
    cursor: pointer;
}

.sidebar .nav-item:not(.active):hover ~ .nav-item.active {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.nav-item i {
    margin-right: 10px;
}

.nav-item.active {
    background-color: #7fa7f6; /* Keep the active color */
}

.logout {
    background-color: #ff6b3d; /* Strong CTA color */
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}

.logout:hover {
    background-color: #ff5733; /* Hover effect for Logout */
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.top-bar {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.heading h1 {
    margin: 0;
    font-size: 28px;
}

.right-section {
    display: flex;
    align-items: center;
}

.upgrade-btn {
    background-color: #ff6b3d; /* Same CTA color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.upgrade-btn:hover {
    background-color: #ff5533;
}

.profile {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 18px;
}

.profile i {
    font-size: 24px;
    margin-right: 10px;
}

.card-container {
    background-color: #c8dbff;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #ffffff; /* Clean white card */
    padding: 20px;
    height: 220px;
    width: 330px;
    border-radius: 20px;
    box-sizing: border-box;
}

.card h2 {
    margin-top: 0;
}

.card:hover {
    background-color: #c2d4f7; /* Subtle hover effect */
    cursor: pointer;
}

.card img.card-icon {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile:hover {
    cursor: pointer;
}
