@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBEBEB;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: auto;
}

.text-area {
    resize: none;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #BEBEBE;
    background-color: #D1CDCC;
    color: #333;
    font-size: 16px;
    outline: none;
    padding: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.level-buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #D1CDCC;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

button:hover {
    background-color: #BEBEBE;
}

.play-button {
    background-color: #339AF0;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.play-button:hover {
    background-color: #288AD6;
}

.button-group button {
    margin-left: 10px;
}
